black
flake8
ipython
isort
jupyterlab
matplotlib
notebook
pip
python-dotenv
pyyaml
joblib
psutil
numpy
pandas
scipy
tqdm
scikit-learn
duckdb
torch
torchvision
timm
mamba-ssm
transformers
albumentations
albumentations[imgaug]
fastparquet
-e .
